.KapostBridgeLogViewer .cms-content-tools form {
    border-bottom: 1px solid #D0D3D5;
    
    margin-bottom: 20px;
    padding-bottom: 10px;
    
    box-shadow: 0 1px 0 rgba(245, 245, 245, 0.8);
}

.KapostBridgeLogViewer .cms-content-tools ul.logs {
    margin: 8px -4px;
}

.KapostBridgeLogViewer .cms-content-tools ul.logs li + li {
    border-top: 1px solid #CED7DC;
}

.KapostBridgeLogViewer .cms-content-tools .cms-panel-content ul + ul {
    border-top: 1px solid #CED7DC;
    
    margin-top: -8px;
}

.KapostBridgeLogViewer .cms-content-tools ul.logs li a {
    display: block;
    
    font-weight: bold;
    color: #444444;
    
    padding: 3px 5px;
    
    line-height: 1.5em;
}

.KapostBridgeLogViewer .cms-content-tools ul.logs li a:hover, .KapostBridgeLogViewer .cms-content-tools ul.logs li a:active, .KapostBridgeLogViewer .cms-content-tools ul.logs li a:focus, .KapostBridgeLogViewer .cms-content-tools ul.logs li a.current {
    background: #338DC1;
    
    color: #FFFFFF;
    
    text-decoration: none;
}

.KapostBridgeLogViewer .cms-content-tools ul.logs li a span {
    font-weight: normal;
    color: #B9BBBD;
}

.KapostBridgeLogViewer #RequestFormatted pre, .KapostBridgeLogViewer #ResponseFormatted pre {
    max-height: 500px;
    
    overflow: auto;
}

.KapostBridgeLogViewer .cms-content-tools .cms-panel-content .logs-pagination {
    margin: 0;
    
    text-align: center;
}

.KapostBridgeLogViewer .cms-content-tools .cms-panel-content ul + .logs-pagination {
    margin-top: 15px;
}

.KapostBridgeLogViewer .cms-content-tools .cms-panel-content .logs-pagination + ul {
    margin-bottom: 15px;
}

.KapostBridgeLogViewer .cms-content-tools .cms-panel-content .logs-pagination .more-logs-link {
    background: #D0D3D5;
    
    display: inline-block;
    
    color: #1F1F1F;
    
    padding: 6px 10px;
    
    border-radius: 4px;
}

.KapostBridgeLogViewer .cms-content-tools .cms-panel-content .logs-pagination .more-logs-link:hover, .KapostBridgeLogViewer .cms-content-tools .cms-panel-content .logs-pagination .more-logs-link:active, .KapostBridgeLogViewer .cms-content-tools .cms-panel-content .logs-pagination .more-logs-link:focus {
    background: #C2CDD4;
    
    text-decoration: none;
}